@charset "utf-8";
.divCrearUsuario {
	
}

.rol{
	
}

.boton {
	clear: both;
	margin-top: 15px;
	display: block;
}

.centro{
	/*padding: 0% 4%;*/
}

table#tabla tr td{
	text-align: center;
}

.img-modificar:hover {
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
	cursor: pointer;
}